<template name="signIn">
	{{#if currentUser}}
		<p><b>{{userName}}</b></p>
		<p class="css-admin-signOut js-signOut">{{_ "login_sign_out"}}</p>
	{{else}}
		{{#if closedForm}}
			<p class="css-admin-signIn js-signIn">{{_ "login_sign_in"}}</p>
		{{else}}
			<div class="css-admin-signIn-form">
				<i class="fa fa-times css-admin-form-close js-signIn-close"></i>
				{{#if needRegister}}
					{{> register}}
				{{else}}
					{{> login}}
					<button class="css-admin-signIn-button js-signIn-register">{{_ "login_register"}}</button>
				{{/if}}
			</div>
		{{/if}}
	{{/if}}
</template>


<template name="register">
    <h2>{{_ "login_registration_form"}}</h2>
    <form class="register">
        <p>{{_ "login_email"}}:<br> <input type="email" name="email"></p>
        <p>{{_ "login_password"}}:<br> <input type="password" name="password"></p>
        <p><input type="submit" value="{{_ "login_register"}}" class="css-admin-signIn-button"></p>
    </form>
</template>


<template name="login">
    <h2>{{_ "login_login"}}</h2>
    <form class="login">
        <p>{{_ "login_email"}}:<br> <input type="email" name="email"></p>
        <p>{{_ "login_password"}}:<br> <input type="password" name="password"></p>
        <p class="js-login-error" style="display:none; color: red;">{{_ "login_error"}}!</p>
        <p><input type="submit" value="{{_ "login_login"}}" class="css-admin-signIn-button"></p>
    </form>
</template>