<template name="admin">

	<header>
		{{> yield region='header'}}
	</header>

	{{> yield region="main"}}

</template>


<template name="admin_header">

	<nav class="css-admin-nav">
		<a href="/admin"><img class="css-admin-logo js-admin-logo" src="/rm.png" height="100px"></a>
		<div class="css-admin-login">
			{{> signIn}}
		</div>
		<i class="fa fa-rocket css-admin-menu-rocket jq-admin-menu"></i>
		<div class="css-admin-nav-list">
			<ul class="css-admin-nav-ul">
				<li><a id="orders" href="/admin/orders">{{_ "admin_orders"}}</a></li>
				<li><a id="products" href="/admin/products">{{_ "admin_products"}}</a></li>
				<li><a id="clients" href="/admin/clients">{{_ "admin_clients"}}</a></li>
				<li><a id="info" href="/admin/info">{{_ "admin_info"}}</a></li>
				<li><a id="settings" href="/admin/settings">{{_ "admin_settings"}}</a></li>
			</ul>
			<div class="css-admin-login-mob">
				<hr>
				{{> signIn}}
			</div>
		</div>
	</nav>

</template>


<template name="adminLogin">
	<div class="css-adminLogin">
		{{> login}}
	</div>
</template>