<template name="admin_clients">

	<div class="css-admin-main-content">
		<form class="js-admin-clients-search">
			<input class="css-admin-search" type="search" name="admin_clients_search">
			<input class="js-admin-search-submit" type="submit" style="display: none;">
			<i class="fa fa-search js-admin-clients-search-submit" style="cursor: pointer;"></i>
		</form>
		<h1>{{_ "admin_clients"}}</h1>
		<div class="css-admin-clients-all">
			{{#each client in clients}}
				{{> admin_client client=client}}
			{{/each}}
		</div>
	</div>

</template>


<template name="admin_client">

	<div class="css-admin-client">
		<h3>{{_ "client_name"}}: {{client.name}}</h3>
		<p>{{_ "client_email"}}: {{client.emails.[0].address}}</p>
		<p>{{_ "client_address"}}: {{client.address}}</p>
		{{#unless see_orders}}
			<button class="css-admin-client-orders-button js-admin-client-show-orders">{{_ "client_orders"}}</button>
		{{else}}
			<div class="css-admin-client-orders">
				<i class="fa fa-times css-admin-form-close js-admin-client-close-orders"></i>
				<div class="css-admin-client-orders-all">
					{{#if orders}}
						{{#each order in orders}}
							{{> admin_order order=order}}
						{{/each}}
					{{else}}
						<h2>{{_ "client_no_orders"}}</h2>
					{{/if}}
				</div>
			</div>
		{{/unless}}
	</div>

</template>