<template name="admin">

	<header>
		{{> yield region='header'}}
	</header>

	{{> yield region="main"}}

</template>


<template name="admin_header">

	<nav class="css-admin-nav">
		<div class="css-admin-login">
			{{> signIn}}
		</div>
		<i class="fa fa-rocket css-admin-menu-rocket"></i>
		<div class="css-admin-nav-list">
			<ul class="css-admin-nav-ul">
				<li><a id="orders" href="/admin">{{_ "admin_orders"}}</a></li>
				<li><a id="products" href="/admin/products">{{_ "admin_products"}}</a></li>
				<li><a id="clients" href="/admin/clients">{{_ "admin_clients"}}</a></li>
				<li><a id="info" href="/admin/info">{{_ "admin_info"}}</a></li>
				<li><a id="settings" href="/admin/settings">{{_ "admin_settings"}}</a></li>
			</ul>
		</div>
	</nav>

</template>


<template name="adminLogin">
	<div class="css-adminLogin">
		{{> login}}
	</div>
</template>