<template name="admin_info">

	<div class="css-admin-main-content">
		<h1>Info</h1>
		<div class="css-admin-info">
			{{#if update}}
				<i class="fa fa-times css-admin-form-close js-admin-info-form-close"></i>
				<h3>Update shop information.</h3>
				{{> admin_info_form info=info}}
			{{else}}
				<div class="js-admin-info-update">
					<h2>Title: {{info.title}}</h2>
					<p>Address: {{info.address}}</p>
					<p>Description: {{info.description}}</p>
				</div>
			{{/if}}
		</div>
	</div>
	
</template>

<template name="admin_info_form">

	<form class="css-admin-info-form js-admin-info-form" id="admin-info-update">

		<p>Title:</p>
		<input type="text" name="info_title" value="{{info.title}}">
		<br>
		<p>Address:</p>
		<textarea class="css-admin-info-address" name="info_address" form="admin-info-update">{{info.address}}</textarea>
		<br>
		<p>Description:</p>
		<textarea class="css-admin-info-description" name="info_description" form="admin-info-update">{{info.description}}</textarea>
		<br>
		<input class="css-admin-form-submit" type="submit" name="submit" value="Save">
		<br>

	</form>

</template>