<template name="admin_products">

	<div class="css-admin-main-content">
		<h1>{{_ "admin_products"}}</h1>
		<div class="css-admin-products-add-new-form">
			<i class="fa fa-times css-admin-form-close jq-admin-new-form-close"></i>
			<h1>{{_ "add_product"}}</h1>
			{{> admin_product_form}}
		</div>
		<div class="css-admin-products-all">
			{{#each product in products}}
				{{> admin_product product=product}}
			{{/each}}
		</div>
		<div class="css-admin-products-add">
			<button class="css-admin-add-button jq-admin-add-button">
				<span>{{_ "add_product"}}</span>
				<i class="fa fa-plus css-admin-plus"></i>
			</button>
		</div>
	</div>

</template>


<template name="admin_product">

		<div id="{{product._id}}" class="css-admin-product">

			{{#unless update}}
				{{> admin_product_description product=product}}
			{{else}}
				<i class="fa fa-times css-admin-form-close js-admin-form-close"></i>
				<button class="css-admin-delete-button js-admin-delete-button">{{_ "delete_product"}}</button>
				<h1>{{_ "update_product"}}</h1>
				{{> admin_product_form product=product}}
			{{/unless}}

		</div>

</template>


<template name="admin_product_description">

	<div class="js-admin-product">
		<h3>{{_ "product_category"}}: {{product.category}}</h3>
		<h2>{{product.title}}</h2>
		<img src="{{product.img}}" width="80%" alt="{{product.title}}">
		<p>{{product.description}}</p>
		<p>{{_ "product_price"}}: {{product.price}}</p>
		<p>{{_ "product_quantity"}}: {{product.quantity}}</p>
	</div>

</template>


<template name="admin_product_form">

	<form class="css-admin-product-form js-admin-product-form" id="admin-product-update-{{product._id}}">

		<p>{{_ "product_category"}}:</p>
		<input type="text" name="product_category" value="{{product.category}}">
		<br>
		<p>{{_ "product_title"}}:</p>
		<input type="text" name="product_title" value="{{product.title}}">
		<br>
		<p>{{_ "product_img"}}:</p>
		<input type="text" class="js-admin-product-img" name="product_image" value="{{product.img}}" >
		<br>
		<label class="css-admin-product-img-upload">
			<input type="file" name="product_image_file" class="js-admin-product-image" >
			<br>
			<span>{{_ "product_img_choose"}}</span>
		</label>
		<br>
		<p>{{_ "product_description"}}:</p>
		<textarea class="css-admin-form-description" name="product_description" form="admin-product-update-{{product._id}}">{{product.description}}</textarea>
		<br>
		<p>{{_ "product_price"}}:</p>
		<input type="number" name="product_price" value="{{product.price}}">
		<br>
		<p>{{_ "product_quantity"}}:</p>
		<input type="number" name="product_quantity" value="{{product.quantity}}">
		<br>
		<input class="css-admin-form-submit" type="submit" name="submit" value="{{_ "save_product"}}">

	</form>

</template>