* {
	box-sizing: border-box;
}

body {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	color: #222;

}

a {

	color: #fff;
	text-decoration: none;

}

a:hover {

	color: red;
	text-decoration: none;

}

h1 {
	text-align: center;
	color: #333;
}

/*** Header ***/

.css-admin-nav {

	width: 100%;
	height: 100px;
	background-color: #222;
	position: fixed;
	top: 0;
	right: 0;
	-webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.88);
	-moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.88);
	box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.88);
	
}

.css-admin-nav-ul li a {

	font-size: 1.2em;
	font-weight: bold;

}

.css-admin-logo {

	float: left;
	cursor: pointer;

}

/*** Admin Login Form ***/

.css-admin-login {

	float: right;
	color: white;
	position: fixed;
	right: 25px;
	top: 30px;

}

.css-admin-login > p {

	margin: 0;

}

.css-admin-signIn {

	cursor: pointer;

}

.css-admin-signIn:hover {

	color: red;

}

.css-admin-signIn-form {

	background-color: #222222;
	border: 1px solid white;
	padding: 5px;
	text-align: center;
	position: fixed;
	right: 25px;

}

.css-admin-signIn-button {

	background-color: #fff;
	color: #222222;
	border: 1px solid black;
	font-size: 1em;
	cursor: pointer;

}

.css-admin-signIn-button:hover {

	background-color: red;
	color: white;
	border: 1px solid #222;

}

.css-admin-signOut {

	cursor: pointer;

}

.css-admin-signOut:hover {

	color: red;

}

.css-adminLogin {

	margin: 50px auto;
	padding: 10px;
	border: 1px solid #aaa;
	width: 80%;
	text-align: center;

}

/*** Admin Main Content ***/
.css-admin-main-content {

	margin: 125px auto;
	width: 80%;

}

input.css-admin-search {

	border: 1px solid #aaa;
	font-size: 1.25em;
	max-width: 80%;

}

/*** admin_orders template ***/
.css-admin-order-change-status {

	border: 1px solid #aaa;
	background-color: #fff;
	color: #aaa;
	font-size: 2em;
	cursor: pointer;
	float: right;

}

.css-admin-order-change-status:hover {

	border: 1px solid #fff;
	background-color: red;
	color: #fff;

}

.css-admin-orders-status p {

	float: left;
	padding: 10px;
	border: 1px solid #aaa;
	color: #aaa;
	text-align: center;
	cursor: pointer;
	margin: 0 5px 5px 0;

}

.css-admin-orders-status p:hover {

	border: 1px solid red;
	color: red;

}

p.css-admin-orders-current-status {

	border: 1px solid #222;
	color: #222;

}

.css-admin-orders {

	margin-top: 100px;
	clear: both;

}

.css-admin-order {

	padding: 10px;
	border: 1px solid #aaa;
	cursor: pointer;

}

.css-admin-order:hover {

	border: 1px solid #222;

}

.css-admin-order-products {

	margin: 0 auto 50px auto;
	width: 80%;
	text-align: center;
	border-collapse: collapse;

}

.css-admin-order-products tr {

	border-bottom: 1px solid #222;
	
}

.css-admin-order-products tr:last-child {

	border-bottom: none;
	
}

.css-admin-order-products tr:hover {

	color: red;

}

tr.css-admin-order-products-head:hover {

	color: black;

}

/*** admin_clients template ***/
.css-admin-client {

	padding: 10px;
	border: 1px solid #aaa;
	cursor: pointer;

}

.css-admin-client:hover {

	border: 1px solid #222;

}

.css-admin-client-orders-button {

	background-color: #fff;
	color: #aaa;
	font-size: 1.5em;
	border: 1px solid #aaa;
	cursor: pointer;
	margin-bottom: 20px;

}

.css-admin-client-orders-button:hover {

	color: #222;
	border: 1px solid #222;

}

.css-admin-client-orders {

	width: 90%;
	margin: 0 auto;
	border: 1px solid #222;
	padding: 10px;

}

.css-admin-client-orders-all {

	margin-top: 50px;
	width: 100%;

}

/*** admin_products template ***/
.css-admin-products-all {

	width: 100%;
	float: left;

}

.css-admin-products-add-new-form {

	display: none;
	border: 1px solid #aaa;
	text-align: center;

}

.css-admin-product {

	float: left;
	border: 1px solid #aaa;
	text-align: center;

}

.css-admin-product:hover {

	border: 1px solid #222;
	cursor: pointer;

}

.css-admin-form-close {

	float: right;
	padding: 5px;

}

.css-admin-form-close:hover {

	color: red;
	cursor: pointer;

}

.css-admin-product-form input {

	width: 80%;
	border: 1px solid #aaa;

}

.css-admin-form-description {

	width: 80%;

}

.css-admin-form-submit {

	height: 50px;
	background-color: #222;
	color: #fff;
	font-size: 1.5em;
	margin-top: 25px;

}

.css-admin-form-submit:hover {

	color: red;
	border-color: #fff!important;
	cursor: pointer;

}

.css-admin-add-button {

	background-color: #fff;
	color: rgba(2, 2, 2, 0.25);
	border-color: rgba(2, 2, 2, 0.25);
	float: right;

}

.css-admin-add-button:hover {

	cursor: pointer;
	color: rgba(2, 2, 2, 0.75);
	border-color: rgba(2, 2, 2, 0.55);

}

.css-admin-plus {

	font-size: 5em!important;

}

.css-admin-delete-button {

	background-color: red;
	color: white;
	width: 50%;
	height: 50px;
	margin: 25px auto 50px auto;
	font-size: 1.5em;
	border-color: rgba(255, 255, 255, 0.25);
	text-align: center;

}

.css-admin-delete-button:hover {

	cursor: pointer;
	color: #aaa;

}

label.css-admin-product-img-upload input[type="file"] {
	display: none;
}

.css-admin-product-img-upload > span {

	padding: 0 5px;
	background: #222;
	color: white;
	cursor: pointer;

}

.css-admin-product-img-upload > span:hover {

	border: 1px solid white;
	background: #222;
	color: red;
	cursor: pointer;

}

.css-admin-product-img-upload :invalid + span {
    color: white;
}
.css-admin-product-img-upload :valid + span {
    color: #222;
}

/*** admin_info ***/
.css-admin-info {

	padding: 10px;
	border: 1px solid #aaa;
	cursor: pointer;

}

.css-admin-info:hover {

	border: 1px solid #222;

}

.css-admin-info-form input {

	width: 100%;

}

.css-admin-info-address {

	width: 100%;
	height: 3em;

}

.css-admin-info-description {

	width: 100%;
	height: 6em;

}

/*** admin_settings ***/
.css-admin-language-buttons {

	margin: 0 0 25px 0;

}

.css-admin-language-button {

	margin: 0;
	padding: 5px;
	border: 1px solid #aaa;
	float: left;
	color: #aaa;
	font-size: 1.5em;
	font-weight: bold;
	cursor: pointer;

}

.css-admin-language-button:hover {

	border-color: #222;
	color: #222;

}

.css-admin-language-button-active {

	margin: 0 0 25px 0;
	padding: 5px;
	border: 1px solid #aaa;
	float: left;
	background-color: #222;
	color: white;
	font-size: 1.5em;
	font-weight: bold;

}

.css-admin-set-users {

	clear: left;

}

.css-admin-set-users > h2 {

	text-align: center;

}

.css-admin-users-all {

	width: 100%;
	float: left;

}

.css-admin-user {

	padding: 10px;
	border: 1px solid #aaa;

}

.css-admin-user:hover {

	cursor: pointer;
	border: 1px solid #222;

}

.css-admin-add-user-button {

	background-color: #fff;
	color: rgba(2, 2, 2, 0.25);
	border-color: rgba(2, 2, 2, 0.25);
	float: right;

}

.css-admin-add-user-button:hover {

	cursor: pointer;
	color: rgba(2, 2, 2, 0.75);
	border-color: rgba(2, 2, 2, 0.55);

}

.css-admin-plus {

	font-size: 5em!important;

}

/*** admin_user_form ***/
.css-admin-user-form-wrap {

	text-align: center;

}

.css-admin-user-form > input {

	width: 80%;

}

.css-admin-new-user-form {

	display: none;
	border: 1px solid #aaa;
	text-align: center;
	padding-bottom: 50px;

}

.css-admin-user-form-notification {

	display: none;
	color: red;
	padding: 20px;

}

/*** Responsive decisions ***/

@media (min-width: 993px) {

	.css-admin-nav-ul li {

		padding: 25px;

	}


	.css-admin-product {

		width: 33.33%;

	}

	.css-admin-product:nth-child(3n+1) {

		clear: both;

	}

}

@media (max-width: 992px) {

	.css-admin-nav-ul li:nth-child(4) {

		clear: left;

	}

	.css-admin-nav-ul li {

		padding: 5px 25px;

	}


	.css-admin-product {

		width: 50%;

	}

	.css-admin-product:nth-child(odd) {
		
		clear: both;

	}


}

@media (min-width: 768px) {

	.css-admin-menu-rocket {

		display: none;
		float: left;

	}

	.css-admin-nav-ul {

		display: block;
		list-style-type: none;
		margin: 0;
		color: #fff;
		padding-top: 15px;
		padding-left: 25px;
		float: left;
		
	}

	.css-admin-nav-ul li {

		display: inline;
		text-align: center;
		float: left;

	}

	.css-admin-signOut {

		text-align: right;

	}

	.css-admin-login-mob {

		display: none;

	}

}

@media (max-width: 767px) {

	.css-admin-menu-rocket {

		color: #fff;
		font-size: 3em!important;
		margin-top: 25px;
		margin-right: 25px;
		float: right;
		cursor: pointer;

	}

	.css-admin-nav-list {

		margin-top: 100px;
		background-color: #222;
		width: 100%;
		display: none;

	}

	.css-admin-nav-ul {

		display: block;
		margin: 0 auto;
		color: #fff;
		text-align: center;
		padding: 25px 0 0 0;

	}


	.css-admin-nav-ul li {

		text-align: center;
		padding: 10px;

	}

	.css-admin-login {

		display: none;

	}

	.css-admin-login-mob {

		color: #fff;
		text-align: center;
		margin: 0 auto;
		padding: 20px 0;
		background-color: #222;

	}

	.css-admin-login-mob > p {

		margin: 0;

	}

	.css-admin-product {

		width: 100%;

	}

}
